body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2em;
  font-family: arial;
}

h1{
  color: blueviolet;
}

.edit{
  margin-top: 1em;
}

.button{
  font-size: 1.5em;
}

hr{
  color: black;
  width: 800px;
  margin-left: 0em;

}
